header {
    position: sticky;
    top: 0;
    padding: 10px 10px;
    background-color: rgb(70, 70, 70);
}

.logo {
    font-size: 50px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-right: solid;
    border-color: rgba(255, 0, 0, 50%);
    border-width: 4px;
}

a:hover {
    border-color: rgba(0, 0, 0, 50%);
}

.header_right {
    font-size: 30px;
}
