main-header {
    max-height: 50px;
    position: sticky;
    top: 0;
    padding: 5px 10px;
    background-color: rgb(70, 70, 70);
}

header a.logo {
    font-size: 30px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    font-weight: lighter;
    padding: 6px;
    border-right: solid rgba(255, 0, 0, 50%) 4px;
    margin: 0;
}

header a:hover {
    border-color: rgba(0, 0, 0, 50%);
}

@media only screen and (min-width: 650px) {
    
}