* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

.page-container {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    background-image: url(Sakura.jpg);
    background-size: cover;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-header {
    height: fit-content;
    position: sticky;
    top: 0;
    padding: 5px 10px;
    background-color: rgb(70, 70, 70);
}

.page-header a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    font-weight: lighter;
    padding: 6px;
    border-right: solid rgba(255, 0, 0, 50%) 4px;
    margin: 0;
}

.page-header a:hover {
    border-color: rgba(0, 0, 0, 50%);
}

.page-header a.logo {
    font-size: 30px;
    font-weight: bold;
}

.content-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content repeat(4, fit-content(100%));
    background-color: whitesmoke;
    padding: 10px;
    margin: auto;
    border-style: solid;
    border-width: 0px 3px 0px 3px;
    border-color: gray;
}

.title {
    height: fit-content;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 32px;
    margin: 4px;
}

.img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border-left: 5px solid gray;
    border-radius: 16px;
    margin: 4px;
}

.rating {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    padding: 4px;
    margin: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    border: 3px solid gold;
    border-radius: 8px 18px;
}

.friends-watched {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    border: 1px solid rgb(17, 8, 8);
    margin: 4px;
}

.description {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    min-height: 100px;
    font-size: 16px;
    border: 1px solid black;
    margin: 4px;
}

.franchise-list {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    min-height: 100px;
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}

.links {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    min-height: 100px;
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}

.ads {
    max-width: 1000px;
    height: 100px;
    margin: auto;
    background-color: white;
    border: 3px solid yellow;
}

.footer {
    min-height: 40px;
    background-color: whitesmoke;
    border-top: 3px solid gray;
}

@media only screen and (min-width: 1000px) {

}
