* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(Sakura.jpg);
    background-size: cover;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: whitesmoke;
    max-width: 100%;
    padding: 10px;
    margin: auto;
    border-style: solid;
    border-width: 0px 3px 0px 3px;
    border-color: gray;
}

.title {
    font-size: 32px;
}

.img {
    border-left: 5px solid gray;
    border-radius: 16px;
}

.rating {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    border: 3px solid gold;
    border-radius: 8px 18px;
}

.friends-watched {
    text-align: center;
    border: 1px solid black;
}

.description {
    font-size: 16px;
    border: 1px solid black;
}

.franchise-list {
    text-align: center;
    border: 1px solid black;
}

.links {
    text-align: center;
    border: 1px solid black;
}

@media only screen and (min-width: 850px) {
    .container {
        width: 75%;
        margin: auto;
    }
}
