* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    --light-shade: #F8F8F8;
    --light-accent: #893168;
    --brand: #4A1942;
    --dark-accent: #2E1C2B;
    --dark-shade: #24252b;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-container {
    min-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 100px 100px;
    justify-items: stretch;
    align-items: stretch;
    background-image: linear-gradient(var(--accent-1), var(--accent-2));
    background-size: cover;
    font-family: sans-serif;
}

.page-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    align-self: stretch;
    position: sticky;
    top: 0;
    padding: 5px 10px;
    background-color: var(--shadow);
}

.page-header a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    font-weight: lighter;
    padding: 6px;
    border-right: solid rgba(255, 0, 0, 50%) 4px;
    margin: 0;
}

.page-header a:hover {
    border-color: rgba(0, 0, 0, 50%);
}

.page-header a.logo {
    font-size: 30px;
    font-weight: bold;
}

.content-container {
    grid-row: 2 / 3;
    align-self: stretch;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content repeat(4, fit-content(100%));
    background-color: whitesmoke;
    padding: 10px;
    margin: 0px auto;
    border-radius: 0;
}

.title {
    height: fit-content;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 32px;
    margin: 4px;
}

.img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border-left: 5px solid gray;
    border-radius: 16px;
    margin: 4px;
}

.rating {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    margin: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    border: 3px solid gold;
    border-radius: 8px 18px;
}

.friends-watched {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    border: 1px solid rgb(17, 8, 8);
    margin: 4px;
}

.description {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    min-height: 100px;
    font-size: 16px;
    border: 1px solid black;
    margin: 4px;
}

.franchise-list {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    min-height: 100px;
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}

.links {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    min-height: 50px;
    text-align: center;
    border: 1px solid black;
    margin: 4px;
}

.ads {
    grid-row: 3 / 4;
    align-self: stretch;
    background-color: white;
}

.footer {
    grid-column: 1 / -1;
    grid-row: -2 / -1;
    align-self: stretch;
    background-color: var(--shadow);
    color: white;
}

@media only screen and (min-width: 900px) {
    .page-container {
        grid-template-columns: 1fr min-content minmax(250px, 1fr);
        grid-template-rows: 80px 50px calc(100vh - 230px) 100px;
    }
    .page-header {
        grid-row: 1 / 3;
        z-index: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .content-container {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        z-index: 1;
        min-width: 60vw;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .ads {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        align-self: stretch;
        justify-self: stretch;
        padding: 20px;
        margin: 25px;
        border-radius: 25px;
    }
}
