* {
    margin: 0;
    padding: 0;
    outline: 0;
    z-index: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    --light-shade: #F6F5F6;
    --light-accent: #e29caf;
    --brand: #61A0C5;
    --dark-accent: #EC5557;
    --dark-shade: #19111f;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.page-container {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    background-image: linear-gradient(var(--light-accent), var(--dark-accent));
    background-size: cover;
    font-family: sans-serif;
    color: var(--dark-shade);
}

.page-header {
    align-self: stretch;
    padding: 5px;
    background-color: var(--dark-shade);
}

.page-header a {
    text-decoration: none;
    color: var(--brand);
    font-size: 24px;
    font-weight: lighter;
    padding: 6px;
    border-right: solid var(--brand) 4px;
    margin: 0;
}

.page-header a:hover {
    border-color: var(--dark-accent);
}

.page-header a.logo {
    font-size: 30px;
    font-weight: bold;
}

.content-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content repeat(4, fit-content(100%));
    background-color: var(--light-shade);
    padding: 10px;
}

.title {
    height: fit-content;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    font-size: 32px;
    margin: 4px;
}

.img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border-left: 5px solid var(--light-accent);
    border-radius: 16px;
    margin: 4px;
}

.rating {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: fit-content;
    height: fit-content;
    padding: 4px;
    margin: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    border: 3px solid var(--light-accent);
    border-radius: 25px;
}

.friends-watched {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    border: 1px solid var(--dark-shade);
    margin: 4px;
}

.description {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    min-height: 100px;
    font-size: 16px;
    border: 1px solid var(--dark-shade);
    margin: 4px;
}

.franchise-list {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    min-height: 100px;
    text-align: center;
    border: 1px solid var(--dark-shade);
    margin: 4px;
}

.links {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    min-height: 50px;
    text-align: center;
    border: 1px solid var(--dark-shade);
    margin: 4px;
}

.ads {
    background-color: var(--light-shade);
    color: var(--brand);
    border: 1px solid gold;
}

.footer {
    background-color: var(--dark-shade);
    color: var(--brand);
}

@media only screen and (min-width: 900px) {
    .page-container {
        grid-template-columns: 1fr min-content minmax(250px, 1fr);
        grid-template-rows: 80px 50px calc(100vh - 210px) 80px;
    }
    .page-header {
        grid-row: 1 / 3;
        z-index: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .content-container {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        z-index: 1;
        min-width: 60vw;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .ads {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
        align-self: stretch;
        justify-self: stretch;
        padding: 20px;
        margin: 25px;
        border-radius: 25px;
    }
    .footer {
        z-index: 2;
    }
}
